h1{
  text-align: center;
  font-family: 'Smooch', cursive;
}

.art{
  margin: auto;
}

td{
  height: 300px;
  width: 150px;
  border: 5px solid white;
}

#one{
  background-color: #cb997e;
}

#two{
  background-color: #DDBEA9;
}

#three{
  background-color: #FFE8D6;
}

#four{
  background-color: #B7B7A4;
}

#five{
  background-color: #A5A58D;
}
